.navbar,
.panel-heading {
  background: #fff !important;
  color: #000 !important;
  font-weight: 900;
}

.navbar-default a {
  color: #000 !important;
  font-weight: 900;
}

.navbar-form .form-control.search-bar {
  width: 440px;
  margin-left: 140px;
}

.navbar-header .navbar-brand {
  padding: 4px 0 0;
}

.navbar-header .navbar-brand img {
  width: 105px;
}

.container {
  max-width: 100%;
}

.panel-body {
    max-height: 800px;
    overflow: scroll;
}

.navbar-brand {
    margin-left: 0 !important;
}

a {
  color: #434343 !important;
}

a:hover {
  text-decoration: none !important;
}

.beerify .thumbnail > img {
  float: left;
  margin: 16px 30px;
  max-width: 140px;
}
