.navbar-form .form-control.search-bar {
  width: 440px;
  margin-left: 140px;
}

.main-navbar {
  margin: 0 15px 15px;
}

.navbar-header .navbar-brand {
  padding: 4px 0 0;
}

.navbar-header .navbar-brand img {
  width: 105px;
}
