.navbar-form .form-control.search-bar {
  width: 440px;
  margin-left: 140px;
}

.main-navbar {
  margin: 0 15px 15px;
}

.plus-button-nav.nav {
  margin-bottom: 20px;
}
.plus-button-nav .navbar-nav,
.plus-button-nav .navbar-nav li,
.plus-button-nav .navbar-nav li a {
  width: 100%;
}
